<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NodeInspect * EXCHANGE CONTRIBUTION</title>
    <meta name="Keywords" content="Blockchain, cryptocurrency, Masternodes, monitoring, Ethereum, Bitcoin, Static Node" />
    <meta name="Description" content="Monitor Coin Contribution" />
    <meta name="Robots" content="Monitor Contribution" />

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169193520-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169193520-1');
    </script>

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>


  </head>
  <body>
    <main role="main" class="container is-fluid">
      <div> <%= @inner_content %> </div>
    </main>
    <div class="footer">
      <ul class="">
        <li class=""> <a href="https://blog.xtrabytes.global/xtrabytes/xby-community/xby-and-xfuel-funding-for-exchange-listings/" target="_blank"> Fundraising Detail</a></li>
        <li class=""> <a href="https://github.com/piyushthapa/xby_contribution" target="_blank"> Github</a></li>  
      </ul>
    </div>
  </body>
</html>
